body {
  background-image: url(/img/genocto_large.svg);
  background-repeat: no-repeat;
  background-size: 40%;
  background-attachment: fixed;
  background-position: center;
  background-color: #161616;
}
